* {
	box-sizing: border-box;
}

body,
html {
	width: 100%;
	height: 100%;
}

/* header */

header {
	background-color: rgb(63, 59, 59);
}

header h1 {
	color: white;
	font-family: 'Roboto', sans-serif;
	margin: auto;
	width: 50%;
	padding: 10px;
	text-align: center;
}

/* body */

div .col-sm-4 {
	background-color: #f4f4f4;
	height: 100%;
}

div .col-sm-8 {
	background-color: blue;
}

form {
	padding: 10px 0px 10px 10px;
}
