* {
	box-sizing: border-box;
}

body,
html {
	width: 100%;
	height: 100%;
}

/* header */

header {
	background-color: rgb(63, 59, 59);
}

header h1 {
	color: white;
	font-family: 'Roboto', sans-serif;
	margin: auto;
	width: 50%;
	padding: 10px;
	text-align: center;
}

/* body */

/* aside */
div .col-sm-4 {
	background-color: #f4f4f4;
	height: 100vh;
}

form {
	padding: 10px 0px 10px 10px;
}

p .pastSearch {
	color: black;
	font-size: 16px;
}

/* ================== */

/* Main current weather */

div .col-sm-8 {
	background-color: blue;
	height: 100vh;
}

div #firstRow {
	width: 100%;
	/* white-space: pre-wrap; */
	display: flex;
}

div #secondRow {
	margin: 5px 0 10px 10px;
}

h3 {
	width: auto;
	padding: 10px 10px 0 10px;
}

#secondRow p {
	padding-bottom: 10px;
	font-size: 20px;
}

div .rows {
	display: block;
	padding-top: 20px;
	padding-right: 20px;
}

/* ================== */

/* Main five day  */

#forecastDiv {
	display: flex;
	flex-wrap: wrap;
}

.card {
	margin: 5px;
}
