* {
	box-sizing: border-box;
}

body,
html {
	width: 100%;
	height: 100%;
}

/* header */

header {
	background-color: rgb(63, 59, 59);
}

header h1 {
	color: white;
	font-family: 'Roboto', sans-serif;
	margin: auto;
	width: 50%;
	padding: 10px;
	text-align: center;
}

/* body */

/* aside */
div .col-sm-4 {
	background-color: #f4f4f4;
	height: 100vh;
}

form {
	padding: 10px 0px 10px 10px;
}

#searches {
	list-style-type: none;
}

.pastSearch {
	border-radius: 5px;
	border: 1px solid rgb(238, 233, 233);
	color: rgb(100, 98, 98);
	font-size: 20px;
	background-color: white;
	padding: 10px;
	margin: 0px;
}

/* ================== */

/* Main current weather */

div .col-sm-8 {
	/* background-color: blue; */
	height: 100vh;
}

#weatherDiv {
	border-radius: 5px;
	border: 1px solid rgb(238, 233, 233);
	margin: 8px 0px 8px 10px;
}

#castDiv {
	margin: 5px;
}

div #firstRow {
	width: 100%;
	display: flex;
}

div #secondRow {
	margin: 5px 0 10px 10px;
}

h3 {
	width: auto;
	padding: 10px 10px 0 10px;
}

#secondRow p {
	padding-bottom: 10px;
	font-size: 20px;
}

div .rows {
	display: block;
	padding-top: 20px;
	padding-right: 20px;
}

h6 {
	font-size: 20px;
}

span {
	color: white;
	padding: 5px;
	border-radius: 5px;
}
/* ================== */

/* Main five day  */

#forecastDiv {
	display: flex;
	flex-wrap: wrap;
}

h2 {
	margin: 8px 0px 5px 8px;
}

.card {
	margin: 5px;
	/* background-color: blue; */
}

.card-body {
	border-radius: 5px;
	background-color: blue;
	color: white;
}
